<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

  <script src="/js/vue.js"></script>


  <title>Book'd - All Books</title>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .image {
      display: flex;
      align-items: center;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/css/colorsfonts.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="navbar navbar-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/seeBook" style="max-width:100px;">
        <img src="/uploads/bookdLogoWhite.png" width="90%"/>
        </a>
        <a href="/contact" class="navbar-brand d-flex align-items-center" style="margin-left: 55%;">
          <button type="button" class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
              viewBox="0 0 16 16">
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
            </svg> Contact
          </button>
        </a>
        <a href="/logout" class="navbar-brand d-flex align-items-center">
          <button type="button" class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
              <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg> Log Out
          </button>
        </a>
      </div>
    </div>
  </header>

  <section class="jumbotron text-center">
    <div class="container">
      <h1><img src="/uploads/bookdLogo.png" width="25%" style="padding-bottom:3%;"/> Library</h1>
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle main-link" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">MENU</a>
          <ul class="dropdown-menu">
            <li><a class="main-link" href="/dashboard">Recommendation</a></li>
            <hr />
            <li><a class="main-link" href="/profile">Profile</a></li>
            <hr />
            <li><a class="main-link" href="/add-book">Add Book</a>
            <li>
          </ul>
        </li>
      </ul>
      <a class="main-link" href="/add-keyword">Add your Preferences</a>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {{#each book as |book|}}
        <div class="col py-3">
          <div class="card box-shadow">

            <form action="/view/{{book._id}}?method=get" method="POST">
              <img src="/uploads/{{cover}}" class="card-img-top image" alt="emotions" width="100%" height="auto">
              <div class="card-body">
                <div class="card-text">
                  <h2> {{details.book-title}}</h2>
                  <h3 class="description top"> by: {{details.book-author}}</h3>
                  <h3 class="description">Category: {{details.book-genre}} </h3>
                  <p>{{details.book-description}}</p>
                  <p> Tags:{{details.keywords}}</p>
                </div>
                <div id="example-1">
                  <button type="submit" id="submit-2" class="btn view"> view </button> </a>
                </div>
              </div>
            </form>

          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <footer class="text-center">
    <div class="container">
      <hr>
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p> &copy; Copyright 2021 by Book'd</p>

    </div>
  </footer>

  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "ba55203d-c5d5-427f-8e91-2c1b106e845f", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "1ba0af8d-6386-4a93-87d0-b992987ec2a7", // The ID of your service instance.
      onLoad: function (instance) {
        instance.render();
      }
    };
    setTimeout(function () {
      const t = document.createElement('script');
      t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
      document.head.appendChild(t);
    });
  </script>
</body>

</html>